/* Buttons */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    align-self: center;
    flex: 1 1 1;
}

.center {
    text-align: center;
}
.btn{
    color: grey;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    margin: 8px 4px;
    padding: 0.5rem 1rem; 
    border-radius: 6px;
    cursor: pointer;
    border:none;
    transition: all .5s ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}

.btn-white{
    color: rgb(37, 37, 37);
    background-color: white;
}

.btn-light{
    color: rgb(37, 37, 37);
    background-color: hsl(270deg 11% 96%);
}

.btn-dark{
    color: rgb(255, 255, 255);
    background-color: hsl(300deg 2% 22%);
}

.btn-black{
    color: rgb(255, 255, 255);
    background-color: rgb(10, 10, 10);
}

.btn-text{
    color: rgb(44, 43, 43);
    text-decoration:underline;
    background-color: transparent !important;
}

/* Segunda parte */

.btn-primary{
    color: rgb(255, 255, 255);
   
    background-color: hsl(171deg 97% 42%);
}



.btn-link{
    color: rgb(248, 248, 248);   
    background-color: hsl(218deg 70% 54%);
}

.btn-info{
    color: rgb(255, 254, 254);   
    background-color: hsl(205deg 64% 53%);
}

.btn-succes{
    color: rgb(253, 253, 253);    
    background-color: hsl(142deg 54% 53%);
}

.btn-warning{
    color: rgb(8, 8, 8);    
    background-color: hsl(48deg 100% 67%);
}

.btn-danger{
    color: rgb(255, 255, 255);   
    background-color: hsl(348deg 87% 61%);
}


/* Tercera parte */


.btn-primary-light{
    color: hsl(171deg 97% 42%); 
   
    background-color: #ecfdfd;
}



.btn-link-light{
    color: hsl(218deg 70% 54%);   
    background-color: #f1f2fe;
}

.btn-info-light{
    color: hsl(205deg 64% 53%);   
    background-color: #eff6fd;
}

.btn-succes-light{
    color: hsl(142deg 54% 53%);    
    background-color: #f0f9f3;
}

.btn-warning-light{
    color: rgb(240, 196, 22);    
    background-color: #fffaeb;
}

.btn-danger-light{
    color: hsl(348deg 87% 61%);   
    background-color: #ffeaf2;
}

/* Cuarta parte */


.btn-small{
    font-size: 12px;
    color: rgb(10, 10, 10); 
    border: solid .1rem rgb(53, 52, 52);
    background-color: white;
}



.btn-default{
    font-size: 13px;
    color: rgb(10, 10, 10);    
    border: solid .1rem rgb(53, 52, 52);
    background-color: white;
}

.btn-normal{
    font-size: 16px;
    font-weight: 400;
    color: rgb(10, 10, 10);    
    border: solid .1rem rgb(53, 52, 52);
    background-color: white;
}

.btn-medium{
    font-size: 20px;
    font-weight: 500;
    color: rgb(10, 10, 10);
    border: solid .1rem rgb(53, 52, 52); 
    background-color: white;    
  
}

.btn-large{
    font-size: 25px;
    color: rgb(10, 10, 10); 
    border: solid .1rem rgb(53, 52, 52);
    background-color: white;
}


/* Labels */

.label {
    border: none;
    border-radius: 5px;
    padding: 4px 10px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 4px 6px;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.212);
}

.label-primary{
    background-color: rgb(214, 250, 247);
    color: green;
    text-decoration: bold;
}

.label-link{
    background-color: rgb(241, 231, 231);
    color: rgb(54, 83, 128);
    text-decoration: bold;
}

.label-info{
    background-color: rgb(201, 221, 245);
    color: rgb(81, 143, 163);
    text-decoration: bold;
}

.label-warning{
    background-color: rgb(201, 245, 234);
    color: rgb(61, 117, 94);
    text-decoration: bold;
}

.label-danger{
    background-color: rgb(250, 212, 216);
    color: rgb(95, 29, 32);
}

.menu {
    padding:25px 0;
}

/* Codigo del Tercer Modelo */

.nav-bar-gray {
    background-color: rgb(245, 245, 245) ;
    color: rgb(145, 145, 145);

}
.nav-bar-gray ul{
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 30px;
    list-style-type: none;

}
.nav-bar-gray a {
    color: rgb(145, 145, 145);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
}

.card {
    height: fit-content;
    width: 300px;
    padding: 0px 0px 0px 0px;
    border: solid;
    border-width: 1px;
    border-radius: 2%;
    border-color: #949292;
    font-family: sans-serif;
    margin: 20px 0px 30px;
}
.card h3 {
    padding: 10px 5px 20px 5px;
}

.card-simple .card-header{
    height:100%;
    padding: 15px 15px 15px 15px;
    background-color: rgb(228, 228, 228);
    border-bottom: 1px solid gray;
}
.card-simple h4 {
    padding: 0px 0px 12px 0px;
}
.card-primary {
    border-color: rgb(21, 138, 177);
}
.card-primary p {
    color: rgb(59, 159, 192);
}
.card-secondary p {
    color: gray;
}
.card-danger {
    border-color: rgb(153, 34, 90);
}
.card-danger p {
    color: rgb(153, 34, 90);
}

.card-header {
    height:100%;
    padding: 22px 15px 22px 15px;
    background-color: rgb(228, 228, 228);
    border-bottom: 1px solid gray;
}
.card-content {
    padding: 15px 15px 15px 15px;
}
.card-footer {
    padding: 20px 20px 20px;
}
.card-title {
    font-size: 25px;
    font-weight: bold;
    padding: 5px 0px 5px;
}
.card-suptitle {
    color: gray;
    padding: 5px 0px 5px;
    font-size: 18px;
}

.card-link {
    color: #5198da;
    text-decoration: none;
    margin-right: 25px;
    text-shadow: rgb(13, 51, 133) 0.5px 0.5px;
}

.card-link-active{
    color: white;
    border-color: #5198da;
    background-color: #5198da;
    text-decoration: none;
    margin-right: 25px;
    border-radius: 5px;
    cursor: pointer;
    border:none;
    padding: 8px 10px 8px 10px;
    transition: all .5s ease-in-out;
    text-shadow: rgb(13, 51, 133) 0.5px 0.5px;
}

/* ? Cards: Leonel, Alejandro y Luis.  */

 /*
.card-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    border: 3px solid #EFEFEF;
    border-radius: 8px;
}

.simple-cards{
    display: flex;
    gap: 1rem;
}

.mini-card{
    overflow: hidden;
}

.card-primary{
    border: 1px solid turquoise;
}

.card-danger{
    border: 1px solid red;
}

.header{
    display: flex;
    background: rgb(231, 231, 231);
    width: 100%;
    height: auto;
    border-bottom: 3px solid #EFEFEF;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1rem 1rem;
    cursor: pointer;
    background-color: transparent;
    color: rgb(95, 95, 223);
}


.btn-blue{
    background-color: #3473E0;
    color: white;
    margin-top: 0;
}

.btn-active {
    background-color: #3473E0;
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    margin-top: 0;
    padding: 0 2rem;
    text-align: center;
}

.text-blue{
    color: turquoise;
}

.text-red{
    color: red;
}
/*